*{
    margin: 0%;
    padding: 0%;
}

@font-face {
    font-family: "poppins";
    src: url(./font/Poppins-Regular.ttf);

}

a{
    text-decoration: none;
    color: black;
    font-family: poppins;
   
}

ul{
    display: flex;
    text-decoration: none;
    justify-content: space-around;
     gap: 10%;
}

li{
    text-decoration: none;
    list-style: none;
}

header{
   align-items: center;
    width: 100%;
    justify-content: center;
    display: flex;
    padding: 70px 0px;
    justify-content: space-around;
}

.pic{
    justify-content: center;
}

button{
    border: none;
    outline: none;
}

button a{
    color: white;
    background-color: red;
    padding: 15px 25px;
    text-transform: uppercase;
     border-radius: 10px;
}

.text{
    
    margin-left: 17%;
    align-items: center;
    display: flex;
    gap: 6%;
   
}

.txt{
    text-align: center;
    text-align: left;
    font-family: poppins;
}

#gray{
    color: gray;
    
}

.mainbtn{
    gap: 6%;
    display: flex;
}

#onebtn{
    margin-top: 15%;
    background-color: rgb(82, 103, 223);
    color: white;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 15px 25px;
    box-shadow:-5px 7px 6px rgba(0,0,0,.1);
    font-family: poppins;
    }

#onebtn:hover{

     background-color: white;
     color: black;
}

#twobtn:hover{
    background-color: rgb(82, 103, 223);
    color: white;
}

#twobtn{
    margin-top: 15%;
    background-color: white;
    color:black ;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 15px 25px;
    box-shadow:-5px 7px 6px rgba(0,0,0,.1);
    font-family: poppins;
}

.img{
   
     align-items: center;
     position: relative;
}

.hero{
    width: 50%;
    height: 20rem;
    background-color: rgb(82, 103, 223) ;
    border-top-left-radius: 999px;
    border-bottom-left-radius:999px ;
    right: 90px;
    top: 40%;
    z-index: -5;
   display: block;
   position: absolute;
}
 
.features{
/* 
    background-color: aliceblue; */
    margin-top: 9%;
    text-align: center;

}

.features h2{
    margin-bottom: 1%;
}

.features h3{
    color: gray;
}

#aim{
    margin-top: 30%;
   
}

.one{
    margin-left: 5%;
    text-align: left;
    margin-top:35%;
    margin-left: 10%;
}

.last{
    
    margin-top: 1%;
    margin-left: 25%;
    
}

.maindih{
    display: flex;
}

.imgtwo{
    position: relative;
    padding-left: 20%;
    padding-bottom: 20%;
    margin-top: 25%;
}


.bookmark{
    display: flex;
  
    /* background-color: aliceblue; */
    
}

.bookmark h3{
    color: gray;
    
}

.bookmark #onebtn{
    margin-top: 2%;
}

.last h2{
    margin-top: 65%;
}

#herotwo{
    width: 50%;
    height: 20rem;
    background-color: rgb(82, 103, 223) ;
    border-top-right-radius: 999px;
    border-bottom-right-radius:999px ;
    right: 45%;
    top: 165%;
    z-index: -5;
   display: block;
   position: absolute;
   
}

.two{
    margin-top: 1%;
   
    
}



.bookmarkone{
    display: flex;
   
}

.bookmarkone #onebtn{
    margin-top: 2%;
    
    
}

.txtt{
    margin-top: 12%;
}

.bookmarkone h3{
    color: gray;
    text-align: left;
}

.mainass{
    margin-left: 17%;
    display: flex;
}

.herothree{
     width: 50%;
    height: 20rem;
    background-color: rgb(82, 103, 223) ;
    border-top-left-radius: 999px;
    border-bottom-left-radius:999px ;
    left: 49%;
    top: 250%;
    bottom: 10%;
    z-index: -5;
   display: block;
   position: absolute;
   
}


.lastclass{
    padding-left: 11%;
    margin-top: 18%;
}

.herolast{
    width: 50%;
    height: 20rem;
    background-color: rgb(82, 103, 223) ;
    border-top-right-radius: 999px;
    border-bottom-right-radius:999px ;
    right: 50%;
    top: 350%;
    z-index: -5;
   display: block;
   position: absolute;
}

#booklast{
   margin-top: 15%;

}
/* IMAGES */
#alag{
    margin-top: 20%;
    
}

.first{
    display: flex;
}

#bars{
    display: none;
}

/* logos work */
.foot h1{
    text-align: center;
    font-family: poppins;
    padding-bottom: 2%;
}

.foot h4{
    font-family: poppins;
    text-align: center;
    color: gray;
    padding-bottom: 2%;
}

.logosdiv{
    display: flex;
    justify-content: center;
     gap: 3%;
}

.logosdiv p{
    margin-left: 28px;
}
.logosdiv h3{
    margin-left: 30px;
    
}
#chrome{
    margin-left: 50px;
}
#firefox{
    margin-left: 50px;
}
#opera{
    margin-left: 40px;

}


.logosdiv #logoone{
    border-color: #e5e7eb;
     box-shadow: -1px 3px 8px 3px rgba(156,156,156,0.75);
    -webkit-box-shadow: -1px 2px 8px 2px rgba(156,156,156,0.75);
    -moz-box-shadow: -1px 6px 8px 3px rgba(156,156,156,0.75);
    padding-left: 7%;
    padding-right: 5% ;
    padding-top: 3%;

}
#logotwo{
    box-shadow: -1px 3px 8px 3px rgba(156,156,156,0.75);
    -webkit-box-shadow: -1px 2px 8px 2px rgba(156,156,156,0.75);
    -moz-box-shadow: -1px 6px 8px 3px rgba(156,156,156,0.75);
    padding-left: 7%;
    padding-right: 5% ;
    margin-top: 2%;
    padding-top: 4%;
      
}

#logothree{
     box-shadow: -1px 3px 8px 3px rgba(156,156,156,0.75);
    -webkit-box-shadow: -1px 2px 8px 2px rgba(156,156,156,0.75);
    -moz-box-shadow: -1px 6px 8px 3px rgba(156,156,156,0.75);
    padding-left: 7%;
    padding-right: 5% ;
    margin-top: 5%;
    padding-top: 4.50%;
    
}
.frequently{
    margin-top: 5%;
}
.frequently h1{
   
    text-align: center;
    font-family: poppins;
}

.frequently h4{
      text-align: center;
      color: gray;
}

.frequently h5{
    margin-top: 1%;
    text-align: center;
     
}

#button{
    background-color: rgb(82, 103, 223);
    color: white;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 15px 25px;
    box-shadow:-5px 7px 6px rgba(0,0,0,.1);
    font-family: poppins;
    margin-left: 47%;
    margin-top: 2%;
}

.date{
    background-color: rgb(82,103, 223);
    margin-top: 5%;
    text-align: center;
}

.place{
    margin-top: 1%;
       padding-left: 5%;
    padding-right: 5%;
        border-radius: 375rem;
   
}

.end{
    width: 10%;
    background-color: rgb(3, 3, 39);
}
/* Media queries */

@media screen and (max-width:480px) {
       .ft{
       display: none;
       }

       #bars{
        display: block;
       }

       .text{
        flex-direction: column;
        text-align: center;
       }

       #imgfirst{
        flex-direction: column;
        width: 100%;
         max-width: 300px;
        
       
       }

       .txt{
       
        width: 100%;
        padding-left: 2%;
        text-align: center;
        padding-right: 30%;
       }

       .features{
        width: 100%;
        padding: 0px 5px;
        text-align: center;
        text-size-adjust: 2%;
       }

       #onebtn{
        padding: 0px 5px;
       
       }

       #twobtn{
         padding: 0px 5px;
       }

       .hero{
        display:none ;
          }

    #herotwo{
        display: none;

       
    }
    .one h3{
       flex-direction: column;
       display: block;
       padding-left: 20px;
    }

    .one h2{
        padding-left: 20px;
    }

    .herothree{
        display: none;
    }

    .herolast{
        display: none;
    }

    #alag{
         flex-direction: column;
        text-align: center;
        padding-left: 50px;
        display: block;
        width: 100%;
        height: 50%;
    }
    .alagtwo img{
        width: 100%;
    }
    .bookmark{
         flex-direction: column;
        text-align: center;
    }

    .bookmark #onebtn{
        margin-left: 4%;
    }

    .imgtwo{
        flex-direction: column;
        width: 100%;       
        max-width: 300px;
       
    }

    .lastclass{
        padding-right: 100px;
        text-align: left;
    }

    #imgfirst{
        display: none;
    }

    .txtt{
        
        padding-right: 100px;
        text-align: left;
    }

    .alagtwo #diff{
        width: 100%;
        height: 20%;
        padding-right: 90%;
        
    }

   .logosdiv{
    flex-direction: column;
       }
    #logoone{
        flex-direction: column;
             
        
       align-items: center;
       margin-left: 10%;
        margin-right: 15%;
    }
    #logotwo{
        margin-left: 10%;
         margin-right: 15%;
    }
    #logothree{
        margin-left: 10%;
          margin-right: 15%;
            }

    }


