*{
    margin: 0%;
    padding: 0%;
}

@font-face {
    font-family: "poppins";
    src: url(./font/Poppins-Regular.ttf);

}

a{
    text-decoration: none;
    color: black;
    font-family: poppins;
   
}

ul{
    display: flex;
    text-decoration: none;
    justify-content: space-around;
     gap: 10%;
}

li{
    text-decoration: none;
    list-style: none;
}

header{
   align-items: center;
    width: 100%;
    justify-content: center;
    display: flex;
    padding: 70px 0px;
    justify-content: space-around;
}

.pic{
    justify-content: center;
}

button{
    border: none;
    outline: none;
}

button a{
    color: white;
    background-color: red;
    padding: 15px 25px;
    text-transform: uppercase;
     border-radius: 10px;
}

.text{
    
    margin-left: 17%;
    align-items: center;
    display: flex;
    gap: 6%;
   
}

.txt{
    text-align: center;
    text-align: left;
    font-family: poppins;
}

#gray{
    color: gray;
    
}

.mainbtn{
    gap: 6%;
    display: flex;
}

#onebtn{
    margin-top: 15%;
    background-color: rgb(82, 103, 223);
    color: white;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 15px 25px;
    box-shadow:-5px 7px 6px rgba(0,0,0,.1);
    font-family: poppins;
      cursor: pointer;
    }

#onebtn:hover{

     background-color: white;
     color: black;
}

#twobtn:hover{
    background-color: rgb(82, 103, 223);
    color: white;
     
}

#twobtn{
    margin-top: 15%;
    background-color: white;
    color:black ;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 15px 25px;
    box-shadow:-5px 7px 6px rgba(0,0,0,.1);
    font-family: poppins;
      cursor: pointer;
}

.img{
   
     align-items: center;
     position: relative;
}

.hero{
    width: 50%;
    height: 20rem;
    background-color: rgb(82, 103, 223) ;
    border-top-left-radius: 999px;
    border-bottom-left-radius:999px ;
    right: 90px;
    top: 40%;
    z-index: -5;
   display: block;
   position: absolute;
  
}
 
.features{
/* 
    background-color: aliceblue; */
    margin-top: 9%;
    text-align: center;

}

.features h2{
    margin-bottom: 1%;
}

.features h3{
    color: gray;
}

#aim{
    margin-top: 30%;
   
}

.one{
    margin-left: 5%;
    text-align: left;
    margin-top:27%;
    margin-left: 10%;
}

.last{
    
    margin-top: 1%;
    margin-left: 25%;
    
}

.maindih{
    display: flex;
}

.imgtwo{
    position: relative;
    padding-left: 23%;
    padding-bottom: 20%;
    margin-top: 15%;
}


.bookmark{
    display: flex;
  
    /* background-color: aliceblue; */
    
}

.bookmark h3{
    color: gray;
    
}

.bookmark #onebtn{
    margin-top: 2%;
}

.last h2{
    margin-top: 65%;
}

#herotwo{
    width: 50%;
    height: 20rem;
    background-color: rgb(82, 103, 223) ;
    border-top-right-radius: 999px;
    border-bottom-right-radius:999px ;
    right: 45%;
    top: 165%;
    z-index: -5;
   display: block;
   position: absolute;
   
   
}

.two{
    margin-top: 1%;
   
    
}



.bookmarkone{
    display: flex;
   
}

.bookmarkone #onebtn{
    margin-top: 2%;
    
    
}

.txtt{
    margin-top: 12%;
}

.bookmarkone h3{
    color: gray;
    text-align: left;
}

.mainass{
    margin-left: 17%;
    display: flex;
}

.herothree{
     width: 50%;
    height: 20rem;
    background-color: rgb(82, 103, 223) ;
    border-top-left-radius: 999px;
    border-bottom-left-radius:999px ;
    left: 49%;
    top: 250%;
    bottom: 10%;
    z-index: -5;
   display: block;
   position: absolute;
   
   
}


.lastclass{
    padding-left: 11%;
    margin-top: 10%;
}

.herolast{
    width: 50%;
    height: 20rem;
    background-color: rgb(82, 103, 223) ;
    border-top-right-radius: 999px;
    border-bottom-right-radius:999px ;
    right: 50%;
    top: 330%;
    z-index: -5;
   display: block;
   position: absolute;
   
}

#booklast{
   margin-top: 15%;

}
/* IMAGES */
#alag{
    margin-top: 20%;
    
}

.first{
    display: flex;
}

#bars{
    display: none;
}

/* logos work */
  
    /* heading text style */

  .extext h1{
    text-align: center;
    margin-top: 3%;
  }

 .extext  h3{
    text-align: center;
    color: gray;
    margin-top: 30px;
}
    /* heading text end */

    /* apps style tags */
    .apps{
        
        display: flex;
        gap: 4%;
        justify-content:center ;
        margin-top: 3%;
        height: 50vh;
        
        }

        .apps h4{
            color: gray;
        }

        /* chrome coding */
        .chrome{
            border: 1px 0px solid rgb(229, 231,235);
            box-shadow: 0px 4px 6px -1px rgba(0,0,0,.1) ;
            width: 20%;
            align-self: flex-start;
        }

        .chromeimg{
            padding-top: 20px;
             gap: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        
        .chrometext{
            text-align: center;
            display: flex; 
            flex-direction: column;
            gap: 10px;
        
        }

        #btnchrome button{
            
            width: 100%;
            outline: none;
            border: none;
            background: transparent;
            background-color: rgb(82, 103,223);
            color: white;
            padding: 10px;
            border-radius: 3px;
            cursor: pointer;

        }

        #btnchrome :hover{
            background-color: white;
            color: black;
        }
            /* chrome ends */

        /* firefox tags */
        .firefox{
             border: 1px 0px solid rgb(229, 231,235);
            box-shadow: 0px 4px 6px -1px rgba(0,0,0,.1) ;
            width: 20%;
            align-self: center;
        }

        .firefoximg{
            padding-top: 20px;
             gap: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .firefoxtext{
            text-align: center;
            display: flex; 
            flex-direction: column;
            gap: 10px;
        
        }

        .mainbtn{
            padding: 30px 50px;
        }
        /* firefox ends */

        /* opera tags */
         .opera{
             border: 1px 0px solid rgb(229, 231,235);
            box-shadow: 0px 4px 6px -1px rgba(0,0,0,.1) ;
            width: 20%;
            align-self: flex-end;
        }

        .operaimg{
            padding-top: 20px;
             gap: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .operatext{
            text-align: center;
            display: flex; 
            flex-direction: column;
            gap: 10px;
        
        }

        /* opera ends */

            /* Question text work */
        .questiontext{
            background-color: aliceblue;
            margin-top: 9%;
            font-family: poppins;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
       }

       .questiontext h4{
        margin-top: 2%;
        color: gray;
       }
       /* Question text end */

       /* Questions */
       .questions{
        width: 30%;
        margin-top: 4%;
        font-family: poppins;
        display: flex;
        flex-direction: column;
         padding: 10px 35%;
         text-align: left;
       }

       .questionone{
        margin-top: 5%;
            
       }

       #oneq{
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid rgb(233, 233, 233);
        gap: 10%;
       
       }

       #btnq{
    margin-top: 10%;
    margin-left: 39%;
    background-color: rgb(82, 103, 223);
    color: white;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 15px 25px;
    box-shadow:-5px 7px 6px rgba(0,0,0,.1);
    font-family: poppins;
      cursor: pointer;
     
       }

       #btnq:hover{
       cursor: pointer;
        color: black;
        background-color: white;
       }

       
       /* Questions end*/

       /* blue div starts */
       .bluediv{

        margin-top: 1%;
        font-family: poppins;
        background-color: rgb(82, 103,223);
        color: white;
        text-align: center;
         box-shadow: -5px 7px 6px rgba(0, 0, 0, .1);
        display: flex;
       flex-direction: column;
       gap: 5%;
      
       }

       .bluetext{
       margin-top: 3%;
       }

       .bluediv input{
        width: 20%;
        padding: 10px 20px;
        border-radius: 10px;
        outline: none;
        text-align: center;
       }

       .input{
        justify-content: center;
        align-items: center;
        align-self: center;
        text-align: center;
       display: flex;
      gap: 2%;
      margin-top: 2%;
       
       }

       .inputbtn{
        justify-content: space-between;
       }
      
       .ftlast{
        display: flex;
        flex-direction: column;
        gap: 4%;
        
       }

        /* blue div ends */
       
/* Media queries */

@media screen and (max-width:480px) {
       .ft{
       display: none;
       }

       #bars{
        display: block;
       }

       .text{
        flex-direction: column;
        text-align: center;
       }

       #imgfirst{
        flex-direction: column;
        width: 100%;
         max-width: 300px;
        
       
       }

       .txt{
       
        width: 100%;
        padding-left: 2%;
        text-align: center;
        padding-right: 30%;
       }

       .features{
        width: 100%;
        padding: 0px 5px;
        text-align: center;
        text-size-adjust: 2%;
       }

       #onebtn{
        padding: 0px 5px;
       
       }

       #twobtn{
         padding: 0px 5px;
       }

       .hero{
        display:none ;
          }

    #herotwo{
        display: none;

       
    }
    .one h3{
       flex-direction: column;
       display: block;
       padding-left: 20px;
    }

    .one h2{
        padding-left: 20px;
    }

    .herothree{
        display: none;
    }

    .herolast{
        display: none;
    }

    #alag{
         flex-direction: column;
        text-align: center;
        padding-left: 30px;
        display: block;
        width: 100%;
        height: 50%;
    }
    .alagtwo img{
        width: 100%;
    }
    .bookmark{
         flex-direction: column;
        text-align: center;
    }

    .bookmark #onebtn{
        margin-left: 4%;
    }

    .imgtwo{
        flex-direction: column;
        width: 100%;       
        max-width: 300px;
       
    }

    .lastclass{
        padding-right: 100px;
        text-align: left;
    }

    #imgfirst{
        display: none;
    }

    .txtt{
        
        padding-right: 100px;
        text-align: left;
    }

    .alagtwo #diff{
        width: 100%;
        height: 20%;
        padding-right: 90%;
        
    }

   .apps{
   display: block;
   
   }

   .chrome{
   padding-left: 150px; padding-right: 150px;

   }
    .firefox{
   padding-left: 150px; padding-right: 150px;

   }
   .opera{
   padding-left: 150px; padding-right: 150px;

   }

   .btnchrome{
   padding: 100px;
   }

   .extext{
    text-align: center;
    padding-left: 50px;
    padding-right: 85px;
   }

    }


